.container-icons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.title{
    font-family: 'Sacramento', cursive;
    line-height: 0.8 !important;
    font-size: 140px;
    color: #75CCFF;
    z-index: 3;
}


.subtitle{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: #042B4D;
    z-index: 4;
}