.circle {
    animation: burbujaAnimacion 4s infinite alternate;
    z-index: 2;
}


@keyframes burbujaAnimacion {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }