@media (max-width: 431px) {
    .title-secundary-interactive {
        margin: 20px;
        font-family: 'Sacramento', cursive;
        line-height: 0.8 !important;
        font-size: 18vw;
        color: #75CCFF;
        z-index: 3;
    }
    .section-interactive {
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    .button-interactive{
        background-color:#61a9da;
        border-color: white;
        color:white;
        font-family: 'montserrat', sans-serif;;
        border-radius: 55px;
        margin: 10px;
        padding: 15px;
        font-size: 17px;
        width: 250px;
    }
    
    .container-interactive{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }


    
  }
  
  @media (min-width: 432px) and (max-width: 1024px) {
    .title-secundary-interactive {
        margin: 20px;
        font-family: 'Sacramento', cursive;
        line-height: 0.9 !important;
        font-size: 12vw;
        color: #75CCFF;
        z-index: 3;
    }

    .section-interactive {
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    .button-interactive{
        background-color:#61a9da;
        border-color: white;
        color:white;
        font-family: 'montserrat', sans-serif;;
        border-radius: 55px;
        margin: 10px;
        padding: 20px;
        font-size: 20px;
        width: 350px;
    }
    
    .container-interactive{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    
  }
  
  @media (min-width: 1025px) {

    .section-interactive {
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }

    .button-interactive{
        background-color:#61a9da;
        border-color: white;
        color:white;
        font-family: 'montserrat', sans-serif;;
        border-radius: 55px;
        margin: 10px;
        padding: 30px;
        font-size: 30px;
        width: 400px;
    }
    
    .container-interactive{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .title-secundary-interactive {
        margin: 20px;
        font-family: 'Sacramento', cursive;
        line-height: 0.8 !important;
        font-size: 6vw;
        color: #75CCFF;
        z-index: 3;
    }
  }


.button-interactive:active{
    background-color:#87c1e8 !important;
    color:white !important;
    border-color: white!important;
}

.button-interactive:hover{
    background-color:#87c1e8;
    color:white;
    border-color: white;
    
}

