.blue-background {
    background-color:#61a9da;
    color: white; 
    padding: 30px; 
    font-family: 'Montserrat', sans-serif;
    border-color:#61a9da;
    border-radius: 10px; /* Bordes redondeados */
    font-size: 20px;
  }
  